<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inspur.BA.platform.dao.AuthorityMapper" >
  <resultMap id="BaseResultMap" type="com.inspur.BA.platform.entity.Authority" >
    <id column="authority_id" property="authorityId" jdbcType="VARCHAR" />
    <result column="authority_name" property="authorityName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="icon_cls" property="iconCls" jdbcType="VARCHAR" />
    <result column="data_index" property="dataIndex" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    authority_id, authority_name, parent_id, menu_url, icon_cls, data_index, type, enabled, 
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"   >
    select 
    <include refid="Base_Column_List" />
    from auth_authority
    where authority_id = #{authorityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from auth_authority
    where authority_id = #{authorityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.inspur.BA.platform.entity.Authority" >
    insert into auth_authority (authority_id, authority_name, parent_id, 
      menu_url, icon_cls, data_index, 
      type, enabled, description
      )
    values (#{authorityId,jdbcType=VARCHAR}, #{authorityName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{dataIndex,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{enabled,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.inspur.BA.platform.entity.Authority" >
    insert into auth_authority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authorityId != null" >
        authority_id,
      </if>
      <if test="authorityName != null" >
        authority_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="iconCls != null" >
        icon_cls,
      </if>
      <if test="dataIndex != null" >
        data_index,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authorityId != null" >
        #{authorityId,jdbcType=VARCHAR},
      </if>
      <if test="authorityName != null" >
        #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null" >
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="dataIndex != null" >
        #{dataIndex,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inspur.BA.platform.entity.Authority" >
    update auth_authority
    <set >
      <if test="authorityName != null" >
        authority_name = #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null" >
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="dataIndex != null" >
        data_index = #{dataIndex,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where authority_id = #{authorityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inspur.BA.platform.entity.Authority" >
    update auth_authority
    set authority_name = #{authorityName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      data_index = #{dataIndex,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where authority_id = #{authorityId,jdbcType=VARCHAR}
  </update>
  <select id="getAuthorityList" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT 
    a.authority_id, a.authority_name, a.parent_id, a.menu_url, a.icon_cls, a.data_index, a.type, a.enabled, 
    a.description
    FROM auth_authority a,auth_role b,Auth_role_authority c,auth_user d,auth_user_role e
    WHERE a.authority_id=c.authority_id 
    	AND c.role_id=b.role_id 
    	AND d.user_id=e.user_id
    	AND e.role_id=b.role_id
    	AND d.user_id=#{userId,jdbcType=VARCHAR}
    ORDER BY data_index asc
  </select>
  <select id="getCompleteAuthorityList" resultMap="BaseResultMap">
  	SELECT 
   	<include refid="Base_Column_List" />
    FROM auth_authority
    ORDER BY data_index asc
  </select>
</mapper>